ul, ul li{padding:0;margin:0;list-style:none}
.error{color:#FF0000}

.sub-nav div{padding:0 20px;padding-bottom:10px}
.sub-nav div.selected{border-bottom:3px solid #337ab7}

.navbar{border-radius:0 !important;margin-bottom:0 !important}
.main-body-wrapper{padding:20px}
.breadcrumb{background-color:#fff;margin-bottom:0;line-height:30px}

