.file-browser{}
.file-browser-toolbar{height:20px;background:red}
.file-browser-col:not(:last-child){float:left}
.file-browser-col:last-child{overflow:hidden}
.file-browser-header{padding:0 5px;border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.file-browser-item{line-height:34px;height:34px}
.file-browser-item-icon{cursor:pointer;float:left;margin:5px 0 5px 2px;width:24px;height:24px;background-repeat:no-repeat;background-position:4px 4px}
.file-browser-item-icon:hover{background-color:#e5e5e5}
.file-browser-item .icon-new{background-image:url(./add2.png)}
.file-browser-item .icon-change{background-image:url(./edit.png);}
.file-browser-item .icon-delete{background-image:url(./delete2.png)}
.file-browser-col:first-child{width:60px;}
.file-browser-col:first-child i:first-child{margin-right:5px;}
.file-browser-col:first-child i.fa-pencil-square-o{color:blue;cursor:pointer}
.file-browser-col:first-child i.fa-times{color:red;cursor:pointer}
.file-browser-col:not(:first-child) .file-browser-item:not(:first-child){padding-right:10px;overflow:hidden;text-overflow:ellipsis}
.file-browser-item{cursor:default}
.file-browser-item-clickable{cursor:pointer}
.file-browser-item-folder{background-image:url(./folder.svg);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-pdf{background-image:url(./ppt.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-ppt{background-image:url(./ppt.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-xls{background-image:url(./xls.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-doc{background-image:url(./doc.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-mp4{background-image:url(./mp4.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-png{background-image:url(./img.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-url{background-image:url(./url.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-item-file{background-image:url(./file.png);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-col:nth-child(2) .file-browser-item-l1{padding-left:30px}
.file-browser-col:nth-child(2) .file-browser-item-l2{padding-left:55px}
.file-browser-col:nth-child(2) .file-browser-item-l3{padding-left:80px}
.file-browser-col:nth-child(2) .file-browser-item-l4{padding-left:105px}
.file-browser-col:nth-child(2) .file-browser-item-l1{background-position-x:5px;}
.file-browser-col:nth-child(2) .file-browser-item-l2{background-position-x:30px;}
.file-browser-col:nth-child(2) .file-browser-item-l3{background-position-x:55px;}
.file-browser-col:nth-child(2) .file-browser-item-l4{background-position-x:80px;}
.file-browser-item-loading{background-image:url(./spinning.gif);background-repeat:no-repeat;background-position-y:7px;background-size:20px 20px}
.file-browser-drop-target{background-color:#f5f5f5 !important}