ul, ul li{padding:0;margin:0;list-style:none}
#main-header:after, #main-header-menu:after, #main-body-menu-bar:after, .clearfix:after{content:"";display: table;clear: both}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;margin:0 auto;font-size:14px}
#main-header{z-index:10;margin:0 auto;padding:5px 0;font-size:16px;background:url('../img/background/dark-wood-background-1013tm-pic-2573.jpg')}
.main-header-text{color:#fff;font-size:16px;margin-top:35px;margin-right:60px}
#main-header-menu{color:#fff;font-family:'AvenirLTStd-Medium', sans-serif, Arial;font-size:16px;margin-top:30px;margin-right:20px}
.main-header-menu-item{margin-right:20px}
.main-header-menu-item>a{color:#fff !important;text-decoration:none;}
.main-header-menu-item>a:hover{color:#aaa}
.main-header-menue-item .dropdown-menu, .main-header-menue-item .dropdown-menu a{ color: #d5d5d5}

#main-header-menu-dropdown{display:none;font-size:26px;margin-top:3px;margin-right:10px}
#main-body{z-index:1;}
#logo{margin-left:20px}
#logo a{text-decoration:none;color:#fff}
#logo img{height:80px}
footer{text-align:center;color:#353535;padding:20px 20px 40px 20px;font-size:14px;line-height:40px;/*background:url('/img/background/dark-wood-background-1013tm-pic-2573.jpg')*/}


.wrapper-900{max-width:900px;margin:0 auto}
.red, .error{color:#FF0000}

.breadcrumb{background-color:#fff;margin-bottom:0;line-height:30px}

.text-red{color:red}
.text-lime{color:lime}
.text-green{color:green}

.nav-tabs{width:100%;text-transform:uppercase;border:none !important}
.nav-tabs>li{float:left;text-align:center;border-bottom:3px solid #e5e5e5 !important;overflow:hidden}
.nav-tabs>li.active{border-bottom:3px solid red !important;color:red}
.nav-tabs>li>a{padding:10px 0 !important;color:#858585}
.nav-tabs>li.active>a{color:red !important}
.nav-tabs>li>a{border:none !important;border-radius:0 !important}

.main-content-wrapper{max-width:800px;margin:0 auto;padding:80px 40px}
.text-link{color:red;text-decoration:underline}
.youtube-thumb{display:none}
fieldset{border-radius:3px;border:1px solid #e5e5e5;padding:10px}
legend{padding:0 10px;font-weight:bold}
fieldset label{font-weight:normal}





@media only screen and (max-width:768px) {
#main-header{padding:0}
#logo{margin-left:0}
#logo img{height:40px}
.main-header-text{margin-top:9px}
#main-header-menu{margin-top:7px}
#main-body{margin-top:40px}
.swiper-container{display:none}
.background-list-block{padding:0}
.main-content-wrapper{padding:20px 0}
}

